
.db{
    background-image: url('../public/img.png');
    background-size: cover;
    background-position: center;
    height: 100vh;

}
.dd{
    background-image: url('../public/2.\ who\ we\ are.png');
}